<div class="page-header">
  <h1>
    Children
    <a href="/children/new" class="btn btn-lg btn-success">New Child</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Guardian</th>
        <th>Actions</th>
      </tr>

      <% @children.each do |child| %>
      <tr>
        <td><%= child.guardian.email %></td>
        <td>
          <a href="/children/<%= child.id %>" class="btn btn-primary">Show</a>
          
          <% if current_parent == child.guardian %>
            <a href="/children/<%= child.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_child/<%= child.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
